/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Muli:300,400);
body {
  background-color: #fff;
  font-family: 'Playfair Display', serif;
}
.navbar {
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
}
.navbar-default {

  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(75, 101, 132);

  .navbar-nav > li > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .navbar-link {
    color: #222;
  }

  .navbar-brand {
    letter-spacing: 1.1px;
  }

}
.dropdown-menu > li > a {
  text-decoration: none;
  color: #f7fbff;
}
.dropdown-menu{
  background-color: rgb(75, 101, 132);
}
.navbar-toggler{
  background: white;

}
